.Evolution h4{
    color: #fff;
    font-size: 18px;

}
.Evolution ul li{
    list-style: square;
    font-size: 14px;
    color: #fff;
    /* margin: 0 10px 0 0; */
}
.Evolution-varieties ul li{
    display: inline-block;
    margin-right: 10px;
}