.Evolution{
    color: #fff;
}
.Evolution h4{
    color: inherit;
    font-size: 16px;

}
.Evolution .Evolution-species{
    margin: 10px 0;
}
.Evolution .Evolution-species p{
   margin-left: 20px;
}
.Evolution-varieties ul{
    margin-left: 20px;
}
.Evolution-varieties ul li{
    display: inline-block;
    margin-right: 10px;
    list-style: square;
   color: inherit;
   font-size: 14px;

}