.Pokie{
    width: 450px;
    overflow: hidden;
    margin: 0px auto;
    border-radius: 20px;
    height: auto;
    color: #fff;
}

.h-screen{
    height: 100vh !important;
}
.h-auto{
    height: auto !important;
    padding-bottom: 10px;
}
.Pokie h3{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.515);
     text-transform: capitalize;
}
.Pokie header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.Pokie header nav svg{
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #fff;
}
.Pokie .Pokemon-div{
    text-align: center;
}
.Pokie img{
    filter: drop-shadow(10px 20px 100px rgb(254, 254, 254));
}
.Pokie-name {
    text-align: center;
    font-size: 30px;
}
.Pokie-type{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 15px;
}
.Pokie-type li{
    margin: 0 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.466);
    border: 1.5px solid rgba(70, 225, 70, 0.642);
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 14px;
    text-transform: capitalize;
}
.Pokie-type li:nth-child(2){
    border: 1.5px solid rgba(225, 109, 70, 0.642);
}

.details-nav{
    display: flex;
    justify-content: space-between;
    
    margin: 10px 0;
}

.details-nav a{
    text-decoration: none;
    color: #fff;
}
.Pokie-container {
    padding: 10px 20px ;
    background-color: rgb(35, 47, 49);
   border-radius: 10px;
}
.Pokie-details{
    padding: 5px 30px; 
    background-color: rgb(35, 47, 49);
    border-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 50px;
}
.h-full{
    /* height: 100vh; */
    transform: translateY('-120px');
}
.Pokie-details.active{
    background-color: rgba(61, 57, 57, 0.064);
    
}
.pokieNav-active{
    position: relative;
    outline: none;
}
.pokieNav-active::after{
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 40%;
    margin: 0 auto;
    height: 15%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.642);
}
.pokieNav{
    position: relative;
}
.pokieNav::before{
    position: absolute;
    bottom: -10%;
    left: 0;
    content: '';
    width: 0%;
    height: 15%;
    background-color: rgba(225, 109, 70, 0.642);
    transition:  all 0.25s ease-in-out;
} 
.pokieNav:hover::before{
    width: 80%;
}