
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
 font-family: 'Poppins',sans-serif;
 padding: 10px;
 height: 100%;
 position: relative;

}
.bgShow{
  position: fixed;
  transform-origin: top;
  width: 100vw;
  height: 100vh;
  z-index: -20;
}
.bgShow .first{
  position: absolute;
  bottom: 5%;
  right: 10%;
}
.bgShow img{
  width: 150px;
  height: 150px;
}
.App .switch{
  position : fixed;
  top: 10%;
  left: 10%;
  z-index: 20;
  display: none;
  background-color: #ee5522;
}

.App .switch label{
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 20px;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
.App .switch input{
  opacity: 0;
}
.App .switch span{
  width: 20px;
  height: 20px;
  background-color: red;
  background-image: url('https://www.svgrepo.com/show/276264/pokeball-pokemon.svg');
  background-size: 20px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  transition: all 0.25s ease-in-out;
}
.App .switch input:checked + span{
  /* right: 10px; */
  transform:translateX(20px);
}
.characters{
  display: flex;
  flex-wrap: wrap;
}


/* light mode */
.App.light-mode{
  background-color: #fff;
  color: rgba(0, 0, 0, 0.766);
}
.App.light-mode .details-nav a,
.App.light-mode .About-abilities li,
.App.light-mode .Evolution ul li,
.App.light-mode .Evolution h4,
.App.light-mode .About h4,
.App.light-mode .About-fact,
.App.light-mode .Stat-name,
.App.light-mode .About-personality{
  color: rgba(0, 0, 0, 0.866);
}
.App.light-mode .Pokie-container,.App.light-mode .Pokie-details{
  background-color: rgb(15, 148, 170);
}
.App.light-mode .exp-high{
  color:rgb(17, 159, 17);
}
.App.light-mode .Stat-num{
 color:rgb(67, 67, 67);
}

@media screen and (max-width:460px){
  .Pokie{
      width: auto !important;
  }
  .App{
    padding: 10px 0;
  }
  .Pokie-container{
    padding: 10px;
  }
  .Pokie-details{
    padding: 5px 10px !important;
  }
  .btn-prev{
    left: -3% !important;
  }
  .btn-next{
    right: -3% !important;
  }
}